<div *ngIf="showPopWindow" class="mask"></div>
<div *ngIf="showPopWindow" class="popWindow">
  <h5>请选择是否删除</h5>
  <hr>
  <div class="text-right">
    <button class="btn btn-sm btn-warning"  (click)="cancel()">取消</button>
    <button class="btn btn-sm btn-primary" (click)="confirm()" >确认</button>
  </div>
</div>
<form (ngSubmit)="onQuery()">
  <label>姓名：<input name="name" [formControl]="params.name" type="text" /></label>
  <label>学号：<input name="sno" [formControl]="params.sno" type="text" /></label>
  <label>班级：
    <app-klass-select [klass]="params.klass" (selected)="onSelectKlass($event)"></app-klass-select>
  </label>
  <button type="submit">查询</button>
</form>
<div class="row">
  <div class="col text-right">
    <a class="btn btn-primary" routerLink="./add"><span class="oi oi-plus"></span>新增学生</a>
    <button class="btn btn-danger mr-2" type="button" (click)="onBatchDeleteClick()"><i class="fas fa-trash-alt"></i>删除</button>
  </div>
</div>
<table class="table">
  <tr>
    <th><input type="checkbox" [checked]="isCheckedAll" (change)="onCheckAllBoxChange($event)" /></th>
    <th>序号</th>
    <th>姓名</th>
    <th>学号</th>
    <th>班级</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let student of pageData.content; index as index">
    <td><input type="checkbox" [checked]="student.isChecked" (change)="onCheckBoxChange($event, student)" /></td>
    <td>{{index + 1}}</td>
    <td>{{student.name}}</td>
    <td>{{student.sno}}</td>
    <td>{{student.klass.name}}</td>
    <td>
      <a routerLink="./edit/{{student.id}}" class="btn btn-sm btn-info"><span class="oi oi-pencil"></span>编辑</a>
      <button (click)="onDelete(student)"  class="btn btn-sm btn-danger"><span class="oi oi-trash"></span>删除</button>
    </td>
  </tr>
</table>
<app-page [page]="pageData" (bePageChange)="onPage($event)"  ></app-page>
