<router-outlet></router-outlet>
<div *ngIf="showPopWindow" class="mask"></div>
<div *ngIf="showPopWindow" class="popWindow">
  <h5>请选择是否删除</h5>
  <hr>
  <div class="text-right">
    <button class="btn btn-sm btn-warning"  (click)="cancel()">取消</button>
    <button class="btn btn-sm btn-primary" (click)="confirm()" >确认</button>
  </div>
</div>
<a [routerLink]="['./add']">新增</a>
<table class="table">
  <tr>
    <th>序号</th>
    <th>姓名</th>
    <th>用户名</th>
    <th>邮箱</th>
    <th>性别</th>
    <th>注册时间</th>
    <th>操作</th>
  </tr>
  <tr *ngFor="let teacher of teachers">
    <td>{{teacher.id}}</td>
    <td>{{teacher.name}}</td>
    <td>{{teacher.username}}</td>
    <td>{{teacher.email}}</td>
    <td>
        <span>{{teacher.sex | sex}}</span>

    </td>
    <td>{{teacher.createTime | date: 'yyyy-MM-dd'}}</td>
    <td><a [routerLink]="['./edit', teacher.id]" class="btn btn-sm btn-info"><span class="oi oi-pencil"></span>编辑</a>
      <button (click)="onDelete(teacher)" class="btn btn-sm btn-danger"><span class="oi oi-trash"></span>删除</button></td>
  </tr>
</table>
